<section class="mt-5">

    <div class="container mt-5">

        <div class="row">

            <div *ngIf="user$ | async as user" class="col-6 col-sm-6 col-md-3 col-lg-2 mt-5">
                @if(connectedUser?.id == user.id){
                    <h5 class="text-center fs-5 fw-bold text-secondary mb-4 position-sticky top">Vous</h5>
                }
                <app-user *ngIf="user$ | async as user" [user]="user"></app-user>
            </div>
            
            <div class="col-12 col-sm-12 col-md-6 col-lg-8 my-5">
                <app-post *ngFor="let userPost of userPosts$ | async" [post]="userPost">
                </app-post>
            </div>

            <div *ngIf="user$ | async as user" class="col-12 col-sm-12 col-md-3 col-lg-2 my-5">
                @if(connectedUser?.id == user.id){
                    <h5 class="text-center fs-5 fw-bold text-secondary mb-4 position-sticky top">Vos follows</h5>
                }
                @else {
                    <h5 class="text-center fs-5 fw-bold text-secondary mb-4 position-sticky top">Follows</h5>
                }
                <app-user-followings></app-user-followings>
            </div>

        </div>    

    </div>

</section>