<div class="card">
    <div class="my-3 d-flex flex-row justify-content-between">
        <a class="btn"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bi bi-trash3 text-primary fs-3"></i>
        </a>
        <h5>{{ notification.date_creation | date: 'd MMMM yyyy' }}</h5>
    </div>
    <hr class="">
    <p>{{ notification.contenu }}</p>
    <hr class="">

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Supprimer une notification.</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment supprimer cette notification ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Confirmer</button>
            </div>
            </div>
        </div>
        </div>

</div>
