<section>
    <div class="container mt-5">
        <div class="row justify-content-center mt-5">
            <h5 class="fs-1 fw-bold text-center text-primary mt-5">The Social Network</h5>
            <p class="text-center mt-5 fs-1">Bienvenue sur TSN, un réseau social pratique et facile à utiliser.<br>
            The Social Network a été créé dans le but d'acceuillir des personnes de tout types et de passions differentes et ceux dans la bienvaillance et le respect des autres.<br>
            Il est le résultat d'un projet de groupe visant a créer un site web ayant sa partie front-end fait sur Angular.<br>
            Le groupe est composé de MBECK MBOH Lula, SELATCHOM O'neal, POOS Kentin, COLACE Clement.</p>
        </div>
    </div>
</section>