<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <form class="border p-4 shadow rounded">
              <h2 class="text-center mb-4">Connexion</h2>
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Adresse mail</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-primary w-100">Envoyer</button>
          </form>
      </div>
  </div>
</div>