<app-header></app-header>

<div class="container-fluid my-5">
  <div class="row justify-content-center my-5">
    <div class="col-12 col-sm-12 col-md-4">
      <div>
        <h5 class="text-center text-primary fw-bold my-5">THE SOCIAL NETWORK</h5>
      </div>
      <form class="border p-4 shadow rounded  text-bg-light">
        <h2 class="text-center mb-4 fs-5">Se connecter à TSN</h2>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Adresse mail</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary w-100 fs-5 fw-bold">Se connecter</button>
      </form>
    </div>
  </div>
</div>


<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <p class="text-center text-secondary fs-5 fw-bold">
        Copyright © THE SOCIAL NETWORK.
    </p>
  </div>
</footer>