<div class="card">
    <div class="my-3 d-flex flex-row justify-content-between">
        <a class="text-dark text-decoration-none" routerLink="/users/{{post.id_utilisateur}}"><h5 class="fw-bold">{{ post.prenom_utilisateur | titlecase}} {{ post.nom_utilisateur | uppercase }}</h5></a>
        <h5>{{ post.date_creation | date: 'd MMMM yyyy' }}</h5>
    </div>
    <hr class="">
    <p>{{ post.contenu }}</p>
    <hr class="">
    <div *ngIf="connectedUser" class="d-flex flex-row mx-2 mb-2">
        <button type="button" class="btn btn-unstyled" (click)="onAddOrRemoveLike(post.id)">
            <i class="bi bi-hand-thumbs-up fs-3 text-primary mx-2" data-bs-toggle="tooltip" title="Like"></i>
        </button><p class="fs-3 me-4 text-secondary">{{ post.likes }}</p>
        <button type="button" class="btn btn-unstyled" (click)="onViewCommentPage()">
            <i class="bi bi-chat fs-3 text-primary mx-2" data-bs-toggle="tooltip" title="Commenter"></i>
        </button><p class="fs-3 me-4 text-secondary">{{ commentsNumber }}</p>
        @if(post.id_utilisateur == connectedUser.id || connectedUser.admin == true){
            <button type="button" class="btn btn-unstyled" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="bi bi-trash3 text-primary fs-3" data-bs-toggle="tooltip" title="Supprimer"></i>
            </button>
        }
    </div>
    <button class="btn btn-primary mx-5 my-3" (click)="onViewSinglePost()">Voir plus</button>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Supprimer un post.</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Voulez-vous vraiment supprimer ce post ?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary" (click)="onDeletePost(post.id)">Confirmer</button>
        </div>
        </div>
    </div>
</div>
