<section class="mt-5">

    <div class="container mt-5">

        <div class="row">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-5 py-5">
                <div *ngIf="post$ | async as post" class="card">
                    <div class="my-3 d-flex flex-row justify-content-between">
                        <a class="text-dark text-decoration-none" routerLink="/users/{{post.id_utilisateur}}"><h5 class="fw-bold">{{ post.prenom_utilisateur | titlecase}} {{ post.nom_utilisateur | uppercase }}</h5></a>
                        <h5>{{ post.date_creation | date: 'd MMMM yyyy' }}</h5>
                    </div>
                    <hr class="">
                    <img *ngIf="post.image" [src]="post.image" alt="">
                    <hr *ngIf="post.image" class="">
                    <p>{{ post.contenu }}</p>
                    <hr class="">
                    <div *ngIf="connectedUser" class="d-flex flex-row mx-2 mb-2">
                        <button type="button" class="btn btn-unstyled">
                            <i class="bi bi-hand-thumbs-up fs-3 text-primary mx-2" data-bs-toggle="tooltip" title="Like"></i>
                        </button><p class="fs-3 me-4 text-secondary">{{ post.likes }}</p>
                        <button type="button" class="btn btn-unstyled" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom<?= $post->getID() ?>" aria-controls="offcanvasBottom">
                            <i class="bi bi-chat fs-3 text-primary mx-2" data-bs-toggle="tooltip" title="Commenter"></i>
                        </button><p class="fs-3 me-4 text-secondary">0</p>
                    </div>
                    <!-- <button class="btn btn-primary">Retour</button> -->
                </div>
            </div>

        </div>    

    </div>

</section>
