<div class="text-center position-sticky top1">
  <button type="button" class="btn btn-primary btn-block justify-content-center mt-3" data-bs-toggle="modal" data-bs-target="#usersNotFollowed">
    <i class="bi bi-person-lines-fill"></i>
    <!-- Voir -->
  </button>
</div>


<div class="modal fade" id="usersNotFollowed" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Follows</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
                      
          <div *ngIf="user$ | async as user" class="modal-body">
              <div class="mb-3 d-flex flex-row justify-content-between" *ngFor="let follow of user.followings">
                  <img [src]="follow['profile_photo']" width="50" height="50">
                  <a class="text-dark text-decoration-none btn"><h5 class="fs-5 fw-bold">{{ follow['prenom'] + " " + follow['nom'] }}</h5></a>
                  <button type="button" class="btn btn-primary">UnFollow</button>
              </div>
          </div>
                      
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>