<div id="user" class="card position-sticky" style="top: 150px;">
    <img [src]="user.profile_photo" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <a class="text-dark text-decoration-none" routerLink="/users/{{user.id}}"><h5 class="card-title fw-bold mb-4 mt-2 text-center">{{ user.prenom + " " + user.nom }}</h5></a>
      <p class="card-text mb-4 text-center">{{ user.description }}</p>
      <div class="text-center">
        <a routerLink="/profile/{{user.id}}" class="btn btn-primary">Mon profil</a>
      </div>
    </div>
</div>