<section>
    <div class="container">
        <div class="row">
            <div *ngIf="user$ | async as user" class="col-12 col-sm-12 col-md-6 mt-5 mb-5 mb-sm-5 mb-md-5 offset-md-3">
                @if(connectedUser?.id == user.id){ 
                    <div class="card mt-5 border border-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <img [src]="user.profile_photo" class="card-img-top" alt="photo de profile" width="225" height="260">
                                    <div class="card-body">
                                        <a class="text-dark text-decoration-none" routerLink="/users/{{user.id}}">
                                            <h5 class="card-title fs-5 fw-bold text-center">{{ user.prenom + " " + user.nom }}</h5>
                                        </a>
                                        <p class="card-text fs-5 text-center mt-3">{{ user.description }}</p>
                                    </div>
                                </div>
                                <div class="col-6"> 
                                    <div class="container mt-5">
                                        <div class="row gy-2">
                                            <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#userInfosModal">Modifier mes infos personelles</button>

                                            <div class="modal fade" id="userInfosModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier mes infos personelles</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                                    
                                                        <div class="modal-body">
                                                            <div class="mb-3 d-flex flex-row justify-content-between">
                                                                <button type="button" class="btn btn-primary">Valider</button>
                                                            </div>
                                                        </div>
                                                                    
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  

                                            <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#userBirthdayModal">Modifier ma date de naissance</button>
                                            
                                            <div class="modal fade" id="userBirthdayModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier ma date de naissance</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                                    
                                                        <div class="modal-body">
                                                            <div class="mb-3 d-flex flex-row justify-content-between">
                                                                <button type="button" class="btn btn-primary">Valider</button>
                                                            </div>
                                                        </div>
                                                                    
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                            
                                            <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#userPasswordModal">Modifier mon mot de passe</button>
                                            
                                            <div class="modal fade" id="userPasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier mon mot de passe</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                                    
                                                        <div class="modal-body">
                                                            <div class="mb-3 d-flex flex-row justify-content-between">
                                                                <button type="button" class="btn btn-primary">Valider</button>
                                                            </div>
                                                        </div>
                                                                    
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                            
                                            <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#userPhotoModal">Modifier ma photo de profil</button>
                                            
                                            <div class="modal fade" id="userPhotoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier ma photo de profil</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                                    
                                                        <div class="modal-body">
                                                            <div class="mb-3 d-flex flex-row justify-content-between">
                                                                <button type="button" class="btn btn-primary">Valider</button>
                                                            </div>
                                                        </div>
                                                                    
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                            
                                            <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#userDescriptionModal">Modifier ma description</button>
                                            
                                            <div class="modal fade" id="userDescriptionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier ma description</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                                    
                                                        <div class="modal-body">
                                                            <div class="mb-3 d-flex flex-row justify-content-between">
                                                                <button type="button" class="btn btn-primary">Valider</button>
                                                            </div>
                                                        </div>
                                                                    
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                            
                                            <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#userFollowingsModal">Gérer mes followings</button>
                                        
                                            <div class="modal fade" id="userFollowingsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Gérer mes followings</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                                    
                                                        <div class="modal-body">
                                                            <div class="mb-3 d-flex flex-row justify-content-between">
                                                                <button type="button" class="btn btn-primary">Valider</button>
                                                            </div>
                                                        </div>
                                                                    
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                        
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
