<section class="mt-5">
    <div class="container mt-5">
        <div *ngIf="notifications$; else elseBlock" class="row justify-content-center mt-5">
            <h5 class="my-5 text-center fs-1 fw-bold text-secondary">Vos notifications</h5>
            <app-notification *ngFor="let notification of notifications$ | async" [notification]="notification"></app-notification>
        </div>
        <ng-template #elseBlock>
            <div class="row justify-content-center mt-5">
                <h5 class="my-5 text-center fs-1 fw-bold text-secondary">Aucune notification</h5>
            </div>
        </ng-template>
    </div>
</section>
